* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    height: 100%;
    width: 100%;
}

body
{
    /* height: 100%;*/
    width: 100%;
    background:linear-gradient(rgb(10, 253, 136),rgb(45, 38, 255));
}

.city
{
    width: 25%;
    height: 5%;
    font-size: 20px;
    color: rgb(45, 184, 240);
    border-radius: 16px;
    background-color: wheat;
    border: 3px solid black;
    position: fixed;
    top: 1.5%;
    text-align: center;
}

.box
{
    width: 40%;
    height: 25%;
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -20%;
}

#icon1
{
    display: block;
    margin: auto;
}

.area
{
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.box p:nth-child(3)
{
    font-size: 16px;
    margin: auto;
    text-align: center;
    color:wheat;
}

.home
{
    height: 40%;
    width: 100%;
    position: fixed;
    bottom: 7%;
}

.line
{
    width: 100%;
    height: 50%;
    margin-top: 2%;
    display: flex;
    justify-content: space-around;
}

.icon
{
    width: 30%;
    height: 100%;
    background: linear-gradient(rgb(29, 131, 126),rgb(19, 205, 238));
    border-radius: 20px;
    text-align: center;
    float: left;
    color: wheat;
}

.icon p:nth-child(1)
{
    margin-top: 15%;
    font-size: 17px;
}

.icon p:nth-child(3)
{
    margin-top: 10%;
    font-size: 15px;
    color: white;
}
